@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0B0B1A;
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .cosmic-gradient {
    background: linear-gradient(to right, #4B0082, #9F2B68);
  }
  
  .cosmic-glow {
    text-shadow: 0 0 10px rgba(178, 75, 243, 0.5);
  }
  
  .cosmic-border {
    border: 1px solid rgba(178, 75, 243, 0.3);
  }
}

